body {
  font-family: "Bungee";
  background-color: #ba5624;
  color: #ffA552;
  cursor: default;
}

header {
  display: flex;
  flex-direction: column;
}

.game_name {
  justify-content: center;
  font-size: 2em;
}


.counter {
  font-size: 1.25em;
}

.counter,
.game_name {
  display: flex;
  align-items: center;
}

.whiteout {
  color: #ba5624;
}

.change_click {
  color: #d58936
}

.hidden_letter {
  font-size: 5em;
  text-decoration: underline #ffA552;
  margin: 0.25px 0.5px;
}

#hidden_word {
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alphabet_box {
  display: flex;
  justify-content: center;
}

.letter_box {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 50%;
}


.letter_box span {
  font-size: 3em;
  padding: 1.5px;
}

.correct_letter {color: #381D2A;}