body {
  font-family: "Bungee";
  background-color: #ba5624;
  color: #ffA552
}

header {
  display: flex;
  flex-direction: column;
}

.game_name {
  justify-content: center;
  font-size: 2em;
}

.counter {
  font-size: 1.25em;
}

.counter,
.game_name {
  display: flex;
  align-items: center;
}

.alphabet_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.whiteout {
  color: #ba5624;
}

.hidden_letter {
  font-size: 5em;
  
}

#hidden_word {
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.letter_box span {
  font-size: 3em;
}

.correctLetter {color: #381D2A;}